<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>康隆商城</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">

</head>
<!-- 引入样式模板 -->
<head th:include="~{tpl :: css} "></head>

<body>
    <!-- topbar starts -->
    <div th:replace="~{tpl :: topbar}"></div>
    <!-- topbar ends -->
<div class="ch-container">
    <div class="row">
        
        <!-- left menu starts -->
        <div th:replace="~{tpl :: leftbar}"></div>
        <!--/span-->
        <!-- left menu ends -->


        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
                <div>
        <ul class="breadcrumb">
            <li>
                <a href="#">数据管理</a>
            </li>
            <li>
                <a href="#">品牌管理</a>
            </li>
        </ul>
    </div>

    <div class="row">
    <div class="box col-md-12">
    <div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-user"></i> 品牌管理</h2>

        <div class="box-icon">
            <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                    class="glyphicon glyphicon-chevron-up"></i></a>
            <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </div>
    <div class="box-content">
    <div class="alert alert-info">
        <a  id="a_btn_add_brand" class="btn btn-info" href="#">
            <i class="glyphicon glyphicon-plus-sign icon-white"></i>
            新增
        </a>
    </div>
    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
    <tr>
        <th>品牌ID</th>
        <th>品牌名称</th>
        <th>品牌LOGO</th>
        <th>品牌首字母</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="e : ${list}">
        <td th:text="${e.id}" />
        <td class="center" th:text="${e.name}" />
        <td class="center" > <img th:src="${e.image}"> </td>
        <td class="center" th:text="${e.firstLetter}"> </td>

        <td class="center">
            <a class="btn btn-success" href="#">
                <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                查看
            </a>
            <a class="btn btn-info" href="#">
                <i class="glyphicon glyphicon-edit icon-white"></i>
                编辑
            </a>
            <a class="btn btn-danger" href="#">
                <i class="glyphicon glyphicon-trash icon-white"></i>
                删除
            </a>
        </td>
    </tr>
    <tr>
        <td>Chris Jack</td>
        <td class="center">2012/01/01</td>
        <td class="center">Member</td>
        <td class="center">
            <span class="label-success label label-default">Active</span>
        </td>
        <td class="center">
            <a class="btn btn-success" href="#">
                <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                查看
            </a>
            <a class="btn btn-info" href="#">
                <i class="glyphicon glyphicon-edit icon-white"></i>
                编辑
            </a>
            <a class="btn btn-danger" href="#">
                <i class="glyphicon glyphicon-trash icon-white"></i>
                删除
            </a>
        </td>
    </tr>

    </tbody>
    </table>
    </div>
    </div>
    </div>
    <!--/span-->

    </div><!--/row-->
    <!-- content ends -->
    </div><!--/#content.col-md-0-->
</div><!--/fluid-row-->


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4>新增/修改品牌</h4>
                </div>
                <div class="modal-body">
                    <!--新增/修改品牌 -起始 -->
                    <form role="form">
                        <div class="form-group">
                            <label for="id">品牌ID</label>
                            <input type="text" class="form-control" id="id" placeholder="请输入品牌ID">
                        </div>
                        <div class="form-group">
                            <label for="name">品牌名称</label>
                            <input type="text" class="form-control" id="name" placeholder="请输入品牌名称">
                        </div>
                        <div class="form-group">
                            <label for="image">品牌LOGO</label>
                            <input type="file" id="image" name="image">

                        </div>
                        <div class="form-group">
                            <label for="firstLetter">品牌首字母</label>
                            <input type="text" class="form-control" id="firstLetter" placeholder="请输入品牌首字母">
                        </div>
                    </form>
                    <!--/span-->
                    <!--新增/修改品牌 -结束 -->
                        <div class="modal-footer">
                            <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                            <a href="#" class="btn btn-primary" data-dismiss="modal">保存</a>
                        </div>
                    </div><!--/row-->
                </div>

            </div>
        </div>
    </div>

    <footer class="row">
        <p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; <a href="http://usman.it" target="_blank">Muhammad
                Usman</a> 2012 - 2015</p>

        <p class="col-md-3 col-sm-3 col-xs-12 powered-by">Powered by: <a
                href="http://usman.it/free-responsive-admin-template">Charisma</a></p>
    </footer>

</div><!--/.fluid-container-->
<div th:include="~{tpl :: js}"></div>
<script type="application/javascript">
    <!--  新增点击事件  -->
    $(function (){
        $("#a_btn_add_brand").click(function (){
            $('#myModal').modal('show');
        })
    })
</script>

</body>
</html>
